.contacts {
  width: 300px;
  list-style: none;
  font-size: 18px;
  margin: 0;
  padding: 0;
  height: 320px;
  overflow: scroll;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.button {
  background-color: inherit;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 5px;
  font-size: 14px;
  transition: 0.2s;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.button:hover {
  color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.247);
  transition: 0.2s;
}
